<section class="about-dev">
  <header class="about-dev__header">
    <nav class="about-dev__header--nav main flex">
      <ul class="about-dev__header--nav__list flex">
        <li class="about-dev__header--nav__list--link">
          <a href="#" [routerLink]="['']"
            ><img
              src="../../../assets/images/logo-bookmark-nav.svg"
              alt="logo image"
          /></a>
        </li>
        <li class="about-dev__header--nav__list--link">
          <a href="#"><i class="fa-solid fa-user"></i>Ubed</a>
        </li>
      </ul>
    </nav>
  </header>

  <main class="about-dev__main">
    <div class="about-dev__main--content main grid">
      <ul class="about-dev__main--content__links">
        <li class="about-dev__main--content__links--link">
          <a href="https://github.com/ubed90" target="_blank"
            ><i class="fa-brands fa-github"></i
          ></a>
        </li>
        <li class="about-dev__main--content__links--link">
          <a href="https://www.frontendmentor.io/profile/ubed90" target="_blank"
            ><i class="fa-brands fa-uikit"></i
          ></a>
        </li>
        <li class="about-dev__main--content__links--link">
          <a href="https://www.instagram.com/the__unnoticed/" target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
      </ul>
      <div class="about-dev__main--content__data">
        <h1 class="about-dev__main--content__data--title">
          <span class="hi">Hi</span> I'm<br /><span class="name"
            >Ubed Shaikh</span
          >
        </h1>

        <div class="wrapper">
          <div class="wrapper__static">I'm a</div>
          <ul class="wrapper__dynamic">
            <li><span>Entrepreneur</span></li>
            <li><span>Freelancer</span></li>
            <li><span>Developer</span></li>
            <li><span>Designer</span></li>
          </ul>
        </div>

        <a href="mailto:shaikhobaid123@gmail.com" class="btn btn-primary"
          >Connect with Me<i class="fa-solid fa-paper-plane"></i
        ></a>
      </div>
      <div class="about-dev__main--content__img">
        <svg
          viewBox="0 0 200 187"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <mask id="mask0" mask-type="alpha">
            <path
              d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
            />
          </mask>
          <g mask="url(#mask0)">
            <path
              d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
            />
            <image
              class="hero-img"
              href="../../../assets/images/About_Me.png"
            />
          </g>
        </svg>
      </div>
    </div>
  </main>
</section>
