<section class="extensions">
  <div class="section__main main">
    <div class="section__main--text">
      <h2 class="section__main--text__title">Download the extension</h2>
      <p class="section__main--text__text">
        We’ve got more browsers in the pipeline. Please do let us know if you’ve
        got a favourite you’d like us to prioritize.
      </p>
    </div>
    <div class="section__main--cards grid">
      <article class="section__main--cards__card card-1">
        <div class="section__main--cards__card--top">
          <img
            src="../../../assets/images/logo-chrome.svg"
            alt="chrome"
            class="section__main--cards__card--top__img"
          />
          <h4 class="section__main--cards__card--top__title">Add to Chrome</h4>
          <p class="section__main--cards__card--top__text">
            Minimum version 62
          </p>
        </div>
        <div class="section__main--cards__card--bottom">
          <a href="#" class="btn btn-primary">Add & Install Extension</a>
        </div>
      </article>
      <article class="section__main--cards__card card-2">
        <div class="section__main--cards__card--top">
          <img
            src="../../../assets/images/logo-firefox.svg"
            alt="firefox"
            class="section__main--cards__card--top__img"
          />
          <h4 class="section__main--cards__card--top__title">Add to Firefox</h4>
          <p class="section__main--cards__card--top__text">
            Minimum version 55
          </p>
        </div>
        <div class="section__main--cards__card--bottom">
          <a href="#" class="btn btn-primary">Add & Install Extension</a>
        </div>
      </article>
      <article class="section__main--cards__card card-3">
        <div class="section__main--cards__card--top">
          <img
            src="../../../assets/images/logo-opera.svg"
            alt="opera"
            class="section__main--cards__card--top__img"
          />
          <h4 class="section__main--cards__card--top__title">Add to Opera</h4>
          <p class="section__main--cards__card--top__text">
            Minimum version 46
          </p>
        </div>
        <div class="section__main--cards__card--bottom">
          <a href="#" class="btn btn-primary">Add & Install Extension</a>
        </div>
      </article>
    </div>
  </div>
</section>
