<section class="faq">
  <div class="faq__main main">
    <div class="faq__main--text">
      <h2 class="faq__main--text__title">Frequently Asked Questions</h2>
      <p class="faq__main--text__text">
        Here are some of our FAQs. If you have any other questions you’d like
        answered please feel free to email us.
      </p>
    </div>
    <div class="faq__main--accordion">
      <article class="faq__main--accordion__field">
        <label for="question-1">What is Bookmark?</label>
        <input type="radio" name="question" id="question-1" />
        <div class="faq__main--accordion__field--answer">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
            tincidunt justo eget ultricies fringilla. Phasellus blandit ipsum
            quis quam ornare mattis.
          </p>
        </div>
      </article>
      <article class="faq__main--accordion__field">
        <label for="question-2">How can I request a new browser?</label>
        <input type="radio" name="question" id="question-2" />
        <div class="faq__main--accordion__field--answer">
          <p>
            Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa,
            ultricies non ligula. Suspendisse imperdiet. Vivamus luctus eros
            aliquet convallis ultricies. Mauris augue massa, ultricies non
            ligula. Suspendisse imperdie tVivamus luctus eros aliquet convallis
            ultricies. Mauris augue massa, ultricies non ligula. Suspendisse
            imperdiet.
          </p>
        </div>
      </article>
      <article class="faq__main--accordion__field">
        <label for="question-3">Is there a mobile app?</label>
        <input type="radio" name="question" id="question-3" />
        <div class="faq__main--accordion__field--answer">
          <p>
            Sed consectetur quam id neque fermentum accumsan. Praesent luctus
            vestibulum dolor, ut condimentum urna vulputate eget. Cras in ligula
            quis est pharetra mattis sit amet pharetra purus. Sed sollicitudin
            ex et ultricies bibendum.
          </p>
        </div>
      </article>
      <article class="faq__main--accordion__field">
        <label for="question-4">What about other Chromium browsers?</label>
        <input type="radio" name="question" id="question-4" />
        <div class="faq__main--accordion__field--answer">
          <p>
            Integer condimentum ipsum id imperdiet finibus. Vivamus in placerat
            mi, at euismod dui. Aliquam vitae neque eget nisl gravida
            pellentesque non ut velit. More Info
          </p>
        </div>
      </article>
    </div>
    <a href="#" class="btn btn-primary">More Info</a>
  </div>
</section>
